.chakra-bg {
    background: rgb(39, 39, 39);
}

.feature {
    background: -webkit-linear-gradient(90deg,
            rgb(217, 44, 10) 0%,
            rgb(172, 44, 99) 21%,
            rgb(185, 167, 28) 51%,
            rgb(25, 206, 52) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.gradient-text {
    // font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f32170,
            #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%) !important;

}
.chakra {
    display: flex;
   justify-content: center;
   align-items: center;
}
.verify{
    display: flex;
     justify-content: center;
    align-items: center;
}